<h2 id="logo">Peeps!</h2>
<%= link_to "Edit your profile", edit_your_user_path %>

<p id="notice">
    <%= notice %>
</p>
<ul id="names">
<% @users.each do |user| %>
    <% if user.photo? %>
    <li class="ui-draggable"><%= user.name %></li>
    <% end %>
<% end %>
</ul>