<div id="win" class="hide">
    <div class="win-wrapper">
        <h2>High five!</h2>
        <div class="score">
            <h3>Your score: <span class="total_score">0</span></h3>
            <p>Correct peeps: <span class="correct_peeps">0</span></p>
            <p>Incorrect peeps: <span class="incorrect_peeps">0</span></p>
            <% if params[:office].present? %>
                <h3>Highscore <%= Office.find_by_code(params[:office]).name %></h3>
            <% else %>
                <h3 class="space-top">Highscore Global</h3>
            <% end %>
            <table class="highscore">
                <thead>
                    <tr>
                        <th align="left" class="th_name">Name</th>
                        <th align="right" class="th_score">Score</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <%= link_to "Play again?", root_path %>
        </div>
    </div>
</div>