* { margin: 0; padding: 0; }
body { 
    background-color: #dfdfdf; 
    color: #000;
}

body, p, ol, ul, td {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size:   24px;
    line-height: 30px;
}

#page-wrapper{
    margin-right: 240px;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}
#peeps li {
    list-style: none;
}
.index-photos, .edit_user img{
    max-width: 340px;
    max-height: 340px;
}
.index-photos{
    margin: 20px 0 0 20px;
    position: relative;
}
#game-sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 220px;
    background: #fff;
    font-size: 18px;
    padding: 10px;
    border-left: 4px solid #DD3920;
    z-index: 1000;
}
#logo{
    padding-top: 35px;
    height: 40px;
    background: url(/images/mynewsdesk.png) no-repeat 0 0;
    text-align: right;
}
#game-sidebar ul, #peeps ul{
    padding-left: 0;
}
#game-sidebar li{
    display: inline-block;
    margin-bottom: 5px;
    color: #000;
    font-size: 13px;
    line-height: 13px;
    font-weight: bold;
    list-style: none;
    padding: 8px;
    background: #7DCDEF;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.ui-draggable{
    cursor: move;
}
.ui-draggable-dragging{
    box-shadow: 0 0 10px #000;
}
.incorrect,
.correct{
    position: absolute;
    width: 256px;
    height: 256px;
    z-index: 101;
    top:0;
    left:0;
}
.correct{
    background: url("/images/thumbs-up.png") no-repeat 0 0;
}
.incorrect{
    background: url("/images/thumbs-down.png") no-repeat 0 0;
}