body { 
    background-color: #222; 
    color: #bbb; 
}

body, p, ol, ul, td {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size:   24px;
    line-height: 30px;
}

#page-wrapper{
    margin-right: 240px;
}

.session{
    display: none;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

#peeps li {
    list-style: none;
}

.index-photos{
    max-width: 400px;
    max-height: 400px;
    float: left;
    margin: 20px;
}

#play-wrapper{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
}
.playing #play-wrapper{
    display: block;
}
#currentPeepImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 600px;
    left: 50%;
    margin-left: -250px;
}
#guess-wrapper{
    position: absolute;
    background: #DD3920;
    border-radius: 10px;
    padding: 10px 20px;
    width: 430px;
    height: 100px;
    bottom: 50px;
    left: 50%;
    margin-left: -200px;
    box-shadow: 0 0 20px #000;
}
#guess-wrapper label{
    color: #000;
    font-weight: bold;
}
#guess-wrapper input[type=submit]{
    display: none;
}
#guess{
    width: 400px;
    padding: 10px;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-weight: 300;
    font-size: 30px;
}
#game-sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 180px;
    background: #555;
    font-size: 18px;
    padding: 10px;
}
#game-sidebar ul, #peeps ul{
    padding-left: 0;
}
#game-sidebar li{
    font-size: 14px;
    font-weight: bold;
    list-style: none;
}